/* Dashboard.css */
.dashboard-container {
  display: flex;
  flex-direction: column; /* empilha os elementos verticalmente */
  align-items: center;    /* centraliza horizontalmente */
  justify-content: center; /* centraliza verticalmente, se quiser */
  min-height: 100vh;       /* ocupa toda a altura da tela */
  gap: 20px;
  width: 100%;               /* espaço entre os elementos */
  
}

.pages-section {
  width: 100%;
  display: flex;
  justify-content: center; /* centraliza conteúdo dentro da seção */
  
}
